.login, .signup {
  margin-top: 100px;
  &__header {
    margin-bottom: 24px;
    text-align: center;
  }

  .form__item:last-child {
    margin-top: 40px;
  }
}

.form {
  margin: 0 auto;

  &--small {
    max-width: 480px;
  }

  &__wrapper {
    gap: 20px;
  }

  &__item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    &--button-remove {
      color: var(--status-error);
    }

    &--buttons {
      text-align: right;
      width: 100%;
    }

    .ant-form-item-label > label {
      color: var(--text-primary-color);
      font-family: var(--text-primary-font-family) !important;
      font-weight: bold;
    }

    .checkbox {
      padding-top: 12px;
    }
  }
}


@media (min-width: 900px) {
  .form {
    .form__row {
      display: flex;
      gap: 16px;
    }
  }
}
