.input-field {
  &__label {
    display: inline-block;
    font-family: var(--text-primary-font-family);
    font-size: 14px;
    padding-bottom: 4px;
  }

  &__error {
    color: var(--input-error-border-color);
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding-top: 2px;
  }
}