.form--personal-languages {
  .form__list-space {
    position: relative;
    align-items: flex-start;
    column-gap: 16px;
    margin-bottom: 16px;
    width: 100%;
    .ant-space-item {
      &:nth-child(1),
      &:nth-child(2) {
        width: 50%;
      }
      &:nth-child(3) {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 0;
        width: 14px;
        height: 14px;
      }
    }
  }

  .form__item--button-add {
    margin: 0;
    width: 100%;
  }
}
