.form--personal-experience {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  .form__list-space {
    position: relative;
    flex-wrap: wrap;
    column-gap: 16px;
    width: 100%;
    .ant-space-item {
      &:nth-child(1),
      &:nth-child(8),
      &:nth-child(9) {
        width: 100%;
      }
      &:nth-child(2),
      &:nth-child(3) {
        width: calc(50% - 8px);
      }
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        width: calc(25% - 12px);
      }
      &:nth-child(10) {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 0;
        width: 14px;
        height: 14px;
      }
    }
  }

  .form__item--button-add {
    margin: 0;
    width: 100%;
  }
}
