.form--personal-hobbies {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  .form__list-space {
    position: relative;
    align-items: flex-start;
    column-gap: 16px;
    width: 100%;
    .ant-space-item {
      &:nth-child(1) {
        width: 100%;
      }
      &:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 0;
        width: 14px;
        height: 14px;
      }
    }
  }

  .form__item--button-add {
    margin: 0;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .form--personal-hobbies {
    .form__list-space {
      width: 48%;
    }
  }
}

@media (min-width: 900px) {
  .form--personal-hobbies {
    .form__list-space {
      width: 32%;
    }
  }
}