.form--personal-info {
  .form__header {
    border-bottom: 1px solid var(--divider-bg-color);
    padding-bottom: 16px;
    margin-bottom: 32px;
    width: 100%;
    .form__item--field {
      margin-bottom: 0;
    }
  }
  .upload-file {
    .ant-upload-list-item-container {
      width: 180px !important;
      height: 180px !important;
    }
  }
  .upload-file-field {
    &__label {
      color: var(--input-label-color);
    }
  }

  .form__item--buttons {
    padding-top: 16px;
  }
}

@media (min-width: 900px) {
  .form--personal-info {
    .form__row {
     .form__item {
        width: 50%;
      }
    }

    .form__side-left {
      flex: 0 0 200px;
    }
  
    .form__side-right {
      width: 100%;
    }
  }
}