.form--personal-skills {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  .form__list-space {
    position: relative;
    column-gap: 16px;
    width: 100%;
    .ant-space-item {
      &:nth-child(1),
      &:nth-child(2) {
        width: calc(45% - 8px);
      }
      &:nth-child(4) {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 0;
        width: 14px;
        height: 14px;
      }
    }
  }

  .form__item--button-add {
    margin: 0;
    width: 100%;
  }
}
