.ant-picker {
  background-color: var(--input-default-bg-color) !important;
  border: 1px solid var(--input-default-border-color);
  border-radius: var(--input-radius);
  color: var(--input-color) !important;
  font-family: var(--text-primary-font-family);
  font-size: var(--input-font-size);
  padding: var(--input-padding) !important;
  line-height: var(--input-line-height) !important;
  width: 100%;
  &.ant-picker-focused, &:focus, &:hover {
    background-color: var(--input-focus-bg-color) !important;
    border: 1px solid var(--input-focus-border-color) !important;
  }
  &::placeholder {
    color: var(--input-placeholder-color);
    font-family: var(--text-primary-font-family);
  }
  // middle or default
  .ant-picker-input {
    &.ant-picker-input-placeholder > input {
      color: var(--input-placeholder-color) !important;
    }
    input {
      border: none !important;
      height: var(--input-height-md);
    }
  }
  // large
  &.ant-picker-large {
    .ant-picker-input {
      input {
        height: var(--input-height-lg);
      }
    }
  }
  // small
  .ant-picker-small {
    .ant-picker-input {
      input {
        height: var(--input-height-sm);
      }
    }
  }
  &.ant-picker-status-error {
    border: 1px solid var(--input-error-border-color);
    .anticon-calendar {
      color: var(--input-icon-error-color) !important;
    }
  }
  .anticon-close-circle, .anticon-calendar {
    color: var(--input-icon-color);
  }
}

.ant-picker-dropdown {
  .ant-picker-panel-container {
    background-color: var(--select-default-bg-color);
    border-radius: var(--date-picker-dropdown-radius);
    box-shadow: 0 0 3px var(--date-picker-dropdown-box-shadow-color);
    .ant-picker-panel-layout {
      .ant-picker-panel {
        .ant-picker-header {
          border-bottom: 1px solid var(--date-picker-dropdown-border-color);
          .ant-picker-month-btn, .ant-picker-year-btn, button {
            color: var(--date-picker-dropdown-btn-color);
            &:hover {
              color: var(--date-picker-dropdown-btn-color-hover);
            }
          }
        }
        .ant-picker-body {
          th {
            color: var(--date-picker-dropdown-th-color);
          }
          .ant-picker-cell {
            color: var(--date-picker-dropdown-cell-inner-disabled-color);
            transition: color .3s, background-color .3s;
            &.ant-picker-cell-hover {
              .ant-picker-cell-inner {
                background-color: var(--date-picker-dropdown-cell-inner-bg-hover);
                color: var(--date-picker-dropdown-cell-inner-color-hover);
              }
            }
            &.ant-picker-cell-selected {
              &.ant-picker-cell-in-view {
                .ant-picker-cell-inner {
                  background-color: var(--date-picker-dropdown-cell-inner-selected-bg) !important;
                  color: var(--date-picker-dropdown-cell-inner-selected-color) !important;
                }
              }
            }
            &.ant-picker-cell-in-view {
              .ant-picker-cell-inner {
                color: var(--date-picker-dropdown-cell-inner-color);
              }
              &.ant-picker-cell-hover {
                .ant-picker-cell-inner {
                  background-color: var(--date-picker-dropdown-cell-inner-bg-hover);
                }
              }
            }
          }
        }
      }
      .ant-picker-footer {
        border-top: 1px solid var(--date-picker-dropdown-border-color);
        .ant-picker-now-btn {
          color: var(--date-picker-dropdown-now-btn);
          &:hover {
            color: var(--date-picker-dropdown-now-btn-hover);
          }
        }
      }
    }
  }
}
