.ant-input-password {
  background-color: var(--input-default-bg-color);
  border: 1px solid var(--input-default-border-color);
  padding: 0 12px 0 0 !important;
  border-radius: var(--input-radius);
  &:hover, &:has(.ant-input:focus) {
    background-color: var(--input-focus-bg-color);
    border: 1px solid var(--input-focus-border-color);
  }
  .ant-input-password-icon {
    color: var(--input-color) !important;
  }
  .ant-input {
    background-color: var(--transparent);
    border-radius: var(--input-radius) !important;
    border: 0 !important;
  }
  &.ant-input-status-error {
    background-color: var(--input-error-bg-color) !important;
    border: 1px solid var(--input-error-border-color) !important;
    .ant-input {
      background-color: var(--input-error-bg-color) !important;
    }
  }
  &.ant-input-status-success {
    background-color: var(--input-success-bg-color);
    border: 1px solid var(--input-success-border-color);
    &:hover {
      background-color: var(--input-focus-bg-color);
      border: 1px solid var(--input-focus-border-color);
    }
  }
  &:has(.ant-input.ant-input-disabled) {
    background-color: var(--input-disabled-bg-color);
    border: 1px solid var(--input-disabled-border-color);
  }
}