.ant-btn-lg {
  height: var(--button-lg-height) !important;
}
.ant-btn-md {
  height: var(--button-md-height) !important;
}
.ant-btn-sm {
  height: var(--button-sm-height) !important;
}

.button--primary {
  background-color: var(--button-primary-bg-color);

  &:hover, &:focus {
    background-color: var(--button-primary-bg-color-hover) !important;
  }

  &:disabled, &:hover:disabled, &:focus:disabled {
    background-color: var(--button-primary-bg-color-disabled) !important;
  }
}

.button--secondary {
  background-color: var(--button-secondary-bg-color);

  &:hover, &:focus {
    background-color: var(--button-secondary-bg-color-hover) !important;
  }
}

.button--warning {
  background-color: var(--button-warning-bg-color);

  &:hover, &:focus {
    background-color: var(--button-warning-bg-color-hover) !important;
  }
}

.button--danger {
  background-color: var(--button-danger-bg-color);

  &:hover, &:focus {
    background-color: var(--button-danger-bg-color-hover) !important;
  }
}