.page__header {
  background-color: var(--header-bg-color);
  display: flex;
  align-items: center;
  padding: 14px 15px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav__link {
  color: var(--link-color);
  margin-right: 15px;
  &.active {
    color: var(--link-color-active);
    cursor: default;
  }
}

