@use 'variables';
@use 'globals';
@use 'mixins/index';

@use 'forms/form';
@use 'forms/input-field';
@use 'forms/personal-info';
@use 'forms/personal-hobbies';
@use 'forms/personal-languages';
@use 'forms/personal-experience';
@use 'forms/personal-education';
@use 'forms/personal-courses';
@use 'forms/personal-skills';
@use 'forms/personal-tools';

@use 'page';
@use 'header';
@use 'button';
@use 'dropdown';
@use 'locale-switcher';
@use 'template';
@use 'templates';
@use 'template-settings';

// templates
@use 'template-edinburgh';
@use 'template-edinburgh-plus';
@use 'template-standford';