@use 'variables' as v;

.page {
  height: v.$page-height;
}

.page__main {
  display: flex;
  position: relative;
  height: calc(v.$page-height - v.$page-header-height);
}

.page__wrapper {
  display: block;
  padding: v.$page-wrapper-padding; 
  overflow-y: auto;
  width: 100%;
}

.page__container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

  &--small {
    max-width: 600px;
  }
}

.page__sidebar {
  background-color: v.$page-sidebar-bg-color;
  &--left {
    flex: 0 0 v.$page-sidebar-width;
    padding: v.$page-sidebar-padding;
  }
  &--right {
    flex: 0 0 v.$page-sidebar-right-width;
    padding: v.$page-sidebar-padding;
  }
}

.page__content {
  flex: 0 0 calc(100% - (v.$page-sidebar-width + v.$page-sidebar-right-width));
  padding: v.$page-content-padding;
  overflow-y: auto;
}

.page__block {
  background-color: var(--white);
  border-radius: 4px;
  padding: 32px;
}

.page__title, .page__subtitle {
  color: var(--text-color) !important;
  margin-top: 0;
  font-size: 24px !important;
}