@use 'variables' as v;

.template {
  background-color: v.$template-bg-color;
  display: flex;
  margin: 0 auto;
  width: v.$template-width;
  height: v.$template-height;

  h1, h2, h3, h4 {
    margin: 0;
  }

  &__sidebar,
  &__container {
    box-sizing: border-box;
  }

  .section__period,
  .section__paragraph,
  .section__label,
  .section__text {
    margin: 0;
  }
}

@media print {
  @page { 
		margin: 0 !important;
		padding: 0 !important;
		position: relative;
		page-break-inside: avoid;
		size: 21cm 29.7cm;
		zoom: 1.0;
	}

  .sidebar,
  .page__header {
    display: none !important;
  }

  .page__main {
    margin: 0;
    padding: 0;
  }

  .template {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    margin: 0;
    padding: 0;

    &__sidebar,
    &__container {
      position: relative;
      z-index: 1;

      &:before {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }

    &__sidebar {
      &:before {
        left: 0;
      }
    }

    &__container {
      &:before {
        right: 0;
      }
    }

    .section {
      page-break-before: auto;
      page-break-after: auto;
    }
  }

  .experience__item {
    padding-top: 4mm;
    margin: 0;
    &:first-child {
      padding-top: 0;
    }
  }

  .experience__item,
  .section--education,
  .section--courses,
  .section--skills {
    page-break-inside: avoid;
  }
}