@use 'variables' as v;

.templates-list {
  margin: 0 auto;
  width: 180px;

  &__item {
    border-radius: 15px;
    margin-bottom: 15px;
    overflow: hidden;
  }

  &__btn {
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: var(--border-color);
    border-radius: 15px;
    display: block;
    padding: 0 !important;
    position: relative;
    overflow: hidden;
    width: 100% !important;
    height: auto !important;
    transition: border-color .3s;

    &:hover, &--active {
      border-width: 2px !important;
      border-style: solid !important;
      border-color: var(--primary-border-color) !important;
    }

    &--active {
      cursor: default;
      &:after {
        content: '✔';
        background-color: var(--primary-border-color);
        border-radius: 50%;
        color: var(--white);
        position: absolute;
        top: 6px;
        right: 6px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        text-indent: 2px;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
  }
}