@use 'variables' as v;

.personal-photo {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: v.$personal-photo-width;
  height: v.$personal-photo-height;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.personal-data {
  padding-right: 5mm;
  &__item {
    margin-bottom: 2.5mm;
  }
  &__text, &__paragraph {
    color: v.$template-sidebar-text-color;
    font-size: 10.5pt;
    margin-bottom: 0 !important;
  }
  &__paragraph {
    font-weight: 300;
  }
}

.personal-interests {
  padding-right: 5mm;
  &__item {
    margin-bottom: 1mm;
    font-weight: 500;
  }
  &__text {
    color: v.$template-sidebar-text-color;
    font-size: 10.5pt;
  }
}

.personal-languages {
  padding-right: 5mm;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1mm;
  }
  &__text {
    color: v.$template-sidebar-text-color;
    font-size: 10.5pt;
    &:last-child {
      font-weight: 300;
    }
  }
}
