:root {
  // colors
  --transparent: rgba(255, 255, 255, 0);
  --white: #fff;
  --black: #000;
  --black-bg: #0A0E11;
  --black-light: #191A20;
  --grey: #666;
  --grey-dark: #333;
  --grey-light: #999;
  --grey-lighter: #F5F5F5;
  --grey-lightest: #E9E9E9;
  --blue: #3e6691;
  --blue-dark: #444865;
  --blue-darker: #282C56;
  --red: #ff4d4f;

  --primary-color: #3F36E1;
  --primary-color-hover: #3F36E1;
  --primary-color-disabled: var(--grey-lighter);

  // variables
  --background: var(--grey-lighter);
  --text-color: var(--black);
  --link-color: var(--blue);
  --link-color-active: var(--primary-color);
  --header-bg-color: var(--white);
  --button-primary-bg-color: var(--primary-color);
  --button-primary-bg-color-hover: var(--primary-color-hover);
  --button-primary-bg-color-disabled: var(--primary-color-disabled);
  --input-error: var(--red);
}

.dark {
  --background: var(--black-bg);
  --text-color: var(--black);
  --link-color: var(--blue);
  --link-color-active: var(--white);
  --header-bg-color: var(--black-light);
  --button-primary-bg-color: var(--primary-color);
  --button-primary-bg-color-hover: var(--primary-color-hover);
}

// Page
$page-height: 100vh;
$page-header-height: 68px;
$page-sidebar-width: 200px;
$page-sidebar-bg-color: var(--grey);
$page-sidebar-padding: 20px 16px;
$page-content-padding: 20px 16px;
$page-wrapper-padding: 20px 16px;

// ----------- Template ----------------------
$template-bg-color: var(--white);
$template-width: 21cm; // 797px;
$template-height: auto; // 29.7cm; // 1127px;

// ----------- Template Standford ------------
// Template - sidebar
$template-standford-sidebar-bg-blue: var(--blue);
$template-standford-sidebar-title-color: var(--white);
$template-standford-sidebar-text-color: var(--white);
$template-standford-sidebar-border-color: var(--white);
$template-standford-sidebar-padding: 5mm;
$template-standford-sidebar-margin: 5mm;
$template-standford-sidebar-width: 60mm;
// Template - container
$template-standford-container-bg: var(--white);
$template-standford-container-color: var(--grey);
$template-standford-container-header-color: var(--grey-dark);
$template-standford-container-border-color: var(--grey-light);
$template-standford-container-period-color: var(--grey-light);
$template-standford-container-hint-color: var(--grey-light);
$template-standford-container-padding: 10mm;
$template-standford-container-margin: 5mm;
$template-standford-container-width: calc(100% - $template-standford-sidebar-width);
// Personal - photo
$personal-standford-photo-width: 50mm;
$personal-standford-photo-height: 50mm;
// Personal - info
$personal-standford-info-border-color: var(--grey-light);

// ----------- Template Edinburgh ------------
// Template - sidebar
$template-edinburgh-sidebar-bg-color: var(--grey-lightest);
$template-edinburgh-sidebar-title-color: var(--blue-darker);
$template-edinburgh-sidebar-icon-color: var(--blue-darker);
$template-edinburgh-sidebar-text-color: var(--black);
$template-edinburgh-sidebar-padding: 5mm;
$template-edinburgh-sidebar-margin: 2mm;
$template-edinburgh-sidebar-width: 80mm;
// Template - container
$template-edinburgh-container-bg: var(--white);
$template-edinburgh-container-color: var(--grey);
$template-edinburgh-container-header-color: var(--blue);
$template-edinburgh-container-border-color: var(--grey-light);
$template-edinburgh-container-period-color: var(--grey-light);
$template-edinburgh-container-hint-color: var(--grey-light);
$template-edinburgh-container-padding: 4mm;
$template-edinburgh-container-margin: 4mm;
$template-edinburgh-container-width: calc($template-width - $template-standford-sidebar-width);
// Personal - fullName
$personal-edinburgh-fullName-bg-color: var(--blue-dark);
$personal-edinburgh-fullName-border-color: var(--blue-darker);
$personal-edinburgh-fullName-color: var(--white);
// Personal - photo
$personal-edinburgh-photo-width: 25mm;
$personal-edinburgh-photo-height: 25mm;
// Personal - info
$personal-edinburgh-info-border-color: var(--grey-light);
